body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .container {
    width: 400px; /* Set a fixed width for the container */
    max-width: 100%;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .cart-icon img {
    width: 100px;
    height: 100px;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; /* Set a fixed width for the list items */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h3 {
    margin: 10px 0;
  }
  
  img {
    width: 400px; /* Set a fixed width for the images */
    height: 400px; /* Set a fixed height for the images */
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    margin: 5px 0;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .button {
    width: 200px; /* Set a fixed width for the buttons */
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button.delete-button {
    background-color: red;
  }
  
  a {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
  }
  
  .pagination-link {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
  }
  
  @media (max-width: 767px) {
    body {
      padding: 0;
    }
  
    .container {
      width: 100%;
      padding: 0 20px;
    }
  
    li {
      width: 100%;
      margin: 10px 0;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  
    .button {
      width: 100%;
    }
  }
  